* {
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
}

body {
    background-image: url("sources/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* NAVIGATION */
.navigation {
    background-color: #74B49B;/*#9EB599;*/
    text-align: center;
    box-sizing:border-box;
    padding: 8px;
    position:fixed;
    top: 0;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    z-index: 2;
    height: 50px !important;
}

.nav_list {
    font-family:sans-serif;
    color: white;
    text-decoration: none;
    font-size: 15px;
    align-items: center;
    border-right: 1px solid white;
    position: relative;
    flex-grow: 1;
    padding-top: 6px;
}

.nav_list:hover {
    background-color: #c9c5c5;
}

.nav_list:last-child {
    border-right: none;
}

#nav_logo {
    border: none;
}

.dropdown_content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: initial;
    width: 100%;
    z-index: 999;
    left: 0;
    right: 0;
    border-top: solid 8px #c9c5c5;
}

.dropdown_content a {
    color: black;
    padding: 5px;
    text-decoration: none;
    display:block;
    background-color: rgb(244, 230, 232);
    border-radius: 0 0 6px 6px;
    font-size: 13px;
}

.nav_list:hover .dropdown_content {
    display: block;
    top: 100%;
    left: 0;
    border-radius: 0 0 6px 6px;
}

.dropdown_content a:hover {
    background-color:#def3ea;
    border-radius: 0 0 6px 6px;
}
#nav_home {
    border: none;
    font-size: 20px;
    margin-right: 10%;
    padding-right: 4vw;
    padding-top: 3px;
}

#nav_home:hover {
    background-color: #74B49B;
}

#nav_news {
    border-left: 1px solid white;
    padding-left: 30px;
    padding-right: 30px;
}
#nav_search {
    border:none;
    margin-left: 30px;
    display: flex;
    align-items: center;
}

#nav_search input[type="text"] {
    border: none;
    font-size: 15px;
    padding: 5px 10px 5px 10px;
    border-radius: 20px;
    line-height: 1;
}

.search button {
    padding:0 23px 0 10px;
    border:none;
    background-color: RGB(215, 250, 235);
    border-radius: 25px;
    cursor: pointer;
    color: #807c7c;
    width: 30px;
    line-height: 1;
}

#nav_loginicon {
    display:none;
    font-size: 20px;
    margin-right: 10px;
}

#nav_login, #nav_signup {
    border: none;
}

#nav_login:hover, #nav_signup:hover {
    background-color: #74B49B;
}

#nav_menu {
    display:none;
    background-color: #74B49B;
    top: 100%;
    position: absolute;
    width: 100vw;
    left:0;
}

#nav_menu a {
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}
  
.iconmenu {
    font-size: 30px;
    text-decoration: none;
    color: white;
    line-height: 0%;
}

#icon_menu {
    display:none;
}

#nav_menu a:hover {
    background-color: #ddd;
    color: black;
}

/* FOOTER */

.footer {
    background-image: url(sources/footerbg.png);
    left: 0;
    bottom: 0;
    width:100vw;
    padding-top: 40px;
    padding-bottom: 30px;
    font-size: 18px;
    display: flex;
}

.namefooter {
    color: white;
    margin-left: auto;
    bottom: 0 ;
    margin-top: 190px;
}

.footercontact {
    color: white;
    font-size: 18px;
    margin-top: 140px;
    margin-left: auto;
    margin-right: auto;
}

.footercontact p {
    margin:0;
    font-size: 16px;
}

.footercontact i {
    margin-right: 10px;
}

.footercontact a {
    color: white;
    text-decoration: none;
    font-weight:bold ;
}

.logofooter {
    margin-right: auto;
    margin-top: 130px;
}

/* SLIDESHOW */

.slideshow {
    overflow: hidden;
    width: 100vw;
    margin:auto;
}

.slideshow h1 {
    position: absolute;
    z-index: 1;
    font-size: 8vw;
    margin-left: 8px;
}

.slide_images {
    display: flex;
    animation: slide 20s infinite;
}

@keyframes slide {
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    35%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    60%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
    }
    85%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-300%);
    }
}

.slide_images img {
    width:100%;
    object-fit: cover;
}

/*BODY */

.body {
    position:relative;
    margin-top: 40px;
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

#box_home {
    margin-top: 10px;
    height: 100%;
    position: relative;
    text-align: justify;
}

#box_home h1 {
    color:white;
}

.capboxhome {
    background-image: url("sources/doitroc.png");
    width: 100vw;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.caption {
    font-size: 100px;
    text-align: center;
    padding-top: 7%;
}

.subcaption {
    font-size: 50px;
    text-align: center;
    padding-bottom: 10%;
}


.h1title {
    margin: 20px;
    color: #74B49B;
}

.h1title hr{
    margin-top: 5px;
    height: 2px;
    background-color: #74B49B;
    border: none;
}

.nextpage {
    display: flex;
    font-size: 18px;
}

.nextpage a {
    text-decoration: none;
}

.ti-arrow-circle-left {
    margin-left: auto;
    margin-top:4px;
    color: gray;
}

#firstpg {
    margin-right: 6px;
    margin-left: 10px;
    color:#74B49B;
}

#secondpg {
    margin-right: 6px;
}

#lastpg {
    margin-left: 6px;
    margin-right: 10px;
}

.ti-arrow-circle-right {
    margin-right: auto;
    margin-top:4px;
}

.ti-arrow-circle-right:hover {
    color:#74B49B;
}

/* LOG IN AND SIGN UP*/

.logsign_box {
    margin:auto;
    margin-top: 8vh;
    margin-bottom: 50vh; 
    border: 2px #74B49B solid;
    padding: 20px;
    background-color: rgb(250,250,250,0.7);
    font-size: smaller;
}

.logsign_box h1 {
    text-align: center;
    color: #74B49B; 
    margin-bottom: 20px;
    font-size: 30px;
}

._google a, ._facebook a {
    text-decoration: none;
    border: 1px solid green;
    border-radius: 25px;
    color: white;
    margin: 20px;
    display: flex;
}

._facebook a {
    background-color: #1877F2;
    color: white;
    padding: 4px 10px 8px 0; 
}

._google a{
    background-color: #dd4d3f;
    padding-top: 4px;
    padding-bottom: 4px;
}

.logby p {
    margin-bottom: 0;
}

._facebook p {
    margin-top: 5px;
}

._google p {
    margin-top: 6px;
}

._google img {
    width: 34px;
    height: 34px;
    margin-right: 12px;
    margin-left: 5px;
}

._facebook img {
    width: 30px;
    height: 30px;
    margin-right: 12px;
    margin-left: 5px;
}

.u_p {
    margin-bottom: 10px;
}

.u_p label {
    display: block;
    font-size: 18px;
}

.u_p input {
    border-radius: 20px;
    padding: 5px;
    border-color: #74B49B;
    width: 100%;
    height: 35px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.u_p button {
    color: white;
    font-size: 16px;
    background-color: #74B49B;
    border: 1px solid black;
    border-radius: 25px;
    padding: 6px;
    cursor: pointer;
}

/* SHOPPING */

.ti-shopping-cart {
    font-size: 30px;
}

.ti-shopping-cart:hover {
    color: #74B49B;
}

.shopping_info {
    padding-top: 5vh;
    padding-bottom: 5vh;
    display: flex;
    margin: 10vh 3vw 10vh 3vw;
    text-align: center;
    background-color:#d9eae4;
    border-radius: 20px;
}

.shopping_info i {
    font-size: 5vw;
    margin:0 !important;
    color:#74B49B;
}

.shopping_info div {
    padding-left: 3vw;
    padding-right:3vw;
}

.shopping_info h4 {
    margin-top: 4vh;
    color: #343131;
    font-size: 2vw;
}

.shopping_info p {
    margin-top: 3vh;
}

.shoppingpage i {
    margin-left: 90%;
}

.shoppingpage h1 {
    margin-left: 6vw;
}

.shoppingpage hr {
    margin-left: 6vw;
}

.shoppingitems {
    margin: 10px 30px 10px 30px;
}

.shoppingitems form {
    margin-bottom: 10px;
}

.shoppingitems input {
    width: 18%;
    border: 1px solid #74B49B;
    border-radius: 10px;
}

.shoppingitems a {
    background-color: #74B49B;
    border:none;
}

.imgshoppingcontainer{
    position: relative;
    width: 100%;
}

.overlay {
    top: 0;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(66, 127, 87, 0.7);
}

.imgshoppingcontainer:hover .overlay {
    opacity: 1;
}

.describe {
    color: white;
    text-align: center;
    height: 100%;
    overflow: scroll;
    overflow-x:hidden;
}

/* NEWS */

.news {
    margin:30px 50px 10px 8%;
    display: block;
    width: 60%;
}

.news_content {
    width: 60%;
    margin:auto;
    margin-top: 20px;
    margin-bottom:20px;
    text-align: justify;
}

.news_content h1 {
    text-align: center;
}

.news_content h2, .news_content h3 {
    text-align: left;
}

.news_content p{
    margin-top: 14px;
}

.news_content img, .news_content video {
    width: 100%;
}

.iconbar {
    margin-top: 10%;
    margin-left: 7%;
    position: fixed;
}

.iconbar a{
    font-size: 24px;
    text-decoration: none;
    display: block;
    color: black;
    position: relative;
}

.iconbar i {
    line-height: 50px;
}

.iconbar i:hover {
    color: #74B49B;
}

.iconews {
    color:#74B49B;
    font-size: 16px;
    display: none;
    position: absolute;
    min-width:100%;
    z-index:999;
    left: 100%;
    top: 35%;
    margin-left: 5px;
}

.card-body a{
    text-decoration: none;
}

.iconbar a:hover .iconews {
    display: block;
}

#box_2 {
    width:22%;
    padding-left: 5px;
    padding-bottom: 73px;
    height: 100%;
    
    text-align: center;
    margin-top: 45px;
    margin-right: 5%;
}

#box_2 h2 {
    color:#74B49B;
}

.weather, .aqi, .uv {
    margin-top: 16px;
}

#box_2 h3 {
    margin-top:15px;
}

.box_weather, .box_aqi, .box_uv {
    font-size: 16px;
    text-align: center;
    border: 1px solid #74B49B;
    border-radius: 25px;
    width: 80%;
    margin: auto;
    padding: 10px;;
}

#box_3 {
    display: none;
    border: 1px solid #74B49B;
    margin-bottom: 10px;
    padding: 15px;
    border-radius:25px;
    font-size: smaller;
}

.box3child {
    display: flex;
}

#box_3 p, #box_3 h6 {
    margin-left: 5px;
}

.box3child h5 {
    color:#74B49B;
}

.box3child p {
    border-right: 1px solid black;
    padding-right: 5px;
}

/* ABOUT */

.about_box {
    margin: 30px 18% 30px 18%;
    text-align: justify;
}

.member {
    display: flex;
    text-align: center;
    font-weight: bold;
    width: 100%;
}

.member img {
    margin: 10px;
    width: 250px;
    border-radius: 10px;
    border: 1px solid #74B49B;
}

.h2endabout h2 {
    text-align: center;
}

/*DONATE */

.donate_box {
    margin: 30px 18% 30px 18%;
    text-align: justify;
}

.donate_box h1 {
    color:#74B49B;
}

.donate_box hr {
    margin-bottom: 20px;
    height: 2px;
    background-color: #74B49B;
    border: none;
}

.donationimg {
    text-align: center;
    margin-top: 50px;
}

.donatemoney {
    display: flex;
}

.bankingcontent {
    margin: auto;
    margin-left: 10px;
}

/*RESPONSIVE */

@media screen and (max-width: 1204px) {
    .navigation {
        height: 50px;
    }

    .navigation a, #nav_search{
        display: grid;
        grid-template-columns: 1fr;
        transition: all 0.5s;
        left:0;
        right:0;
        margin: 0;
    }

    #nav_home {
        margin-right: 10px !important;
    }

    #nav_search {
        width: 25%;
        margin-left:10px !important;
    }

    #nav_news {
        padding-left :10px;
        padding-right: 10px;
        padding-top: 6px;
    }

    #nav_search input{
        width:100%;
    }

    .nav_list {
        padding-top: 0;
    }
}

@media screen and (max-width: 920px) {
    .shopping_info div {
        padding-right: 2vw !important;
        padding-left: 2vw !important;
    }
}

@media screen and (max-width: 900px) {
    div.col {
        width: 33.3%;
    }
}

@media screen and (max-width: 872px) {
    .navigation a, #nav_search {
        border:none;
    }

    #nav_home {
        padding-right: 0   !important;
    }

    #nav_news {
        border: none !important;
    }

    .news {
        width: 100% !important;
        transition: all 0.5s;
    }

    #box_2 {
        display: none;
    }

    #box_3 {
    display:block    !important;
    }
}

@media screen and (max-width: 767px) {
    .shopping_info p {
        display: none;
    }
}

@media screen and (max-width: 755px) {
    .navigation a, .navigation div {
      display:none;
    }

    #nav_logo {
        display: block;
        margin-left: 4px !important;
        margin-right: 10px !important;
    }

    #nav_search {
        width: max-content;
    }

    .iconmenu {
        display: block !important;
        text-align: center;
        margin-right: 40% !important;
        margin-left: 0 !important;
    }

    #nav_loginicon {
        display: block !important;
        padding-top: 4px;
        margin-left: 8px;
    }

    .news_content {
        width: 70% !important;
        transition: 0.4s;
    }
    
    .about_box, .donate_box {
        margin-left: 5%;
        margin-right: 5%;
    }

    .iconbar {
        margin-left: 4vw;
    }

    .namefooter, .logofooter {
        display:none;
    }
}

@media screen and (max-width: 680px) {
    div.col {
        width: 50%;
    }
}

@media screen and (max-width: 555px) {
    .iconmenu {
        margin-right: 30% !important;
    }
}

@media screen and (max-width: 500px) {
    .caption {
        font-size: 20vw !important;
    }

    .subcaption {
        font-size: 10vw !important;
    }
}

@media screen and (max-width: 460px) {
    .news {
        margin-right: 5%;
        margin-left: 5%;
    }

    #box_3 {
        padding: 0;
    }

    .box3child h5 {
        padding-left: 6px;
    }
}

@media screen and (max-width: 429px) {
    div.col {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 400px) {
    .iconmenu {
        margin-right: 10% !important;
    }
}



